<div class="divError">
    <div style="text-align: center;">
        <div>
            <p style="font-size:1.5em; color: #777777; font-weight: bold;">Página não encontrada</p>
        </div>
        <div>
            <img src="assets/error.png" style="width: 30%; height: auto;">
        </div>
        <p style="font-size:1em; color: #777777;">Você tentou acessar uma página inexistente :C</p>
        <button pButton type="button" label="Voltar para a home" class="ui-button-rounded ui-button-secondary"
        routerLink="/"></button>
    </div>
</div>