<div class="jumbotron" style="text-align: center;">
    <div class="divHome">
        <h1>Pokédex Like</h1>
        <p>
            Esta é uma aplicação para consulta da API "PokéApi".
        </p>
        <p>
            Esta aplicação é feita para estudos e testes, sendo de código aberto e acessível para download no github.
        </p> 
        <div class="form-group text-center">
            <p-button label="Ir para a lista"  routerLink="/lista" styleClass="ui-button"></p-button>
        </div>
    </div>
</div>